#leaderboard {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: x-large;
    color: black;
    margin-top: 25px;
}

#time {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: x-large;
}

body {
    background-color: burlywood;
    /* background-image: url("https://images.unsplash.com/photo-1544636331-e26879cd4d9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80");
    background-size: cover; */
}

button {
    background-color: blue;
    color: white;
    font-size: medium;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: list-item;
    margin-left: -40px;
    margin-bottom: 5px;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
}

p {
    font-size: 25px;
    margin-left: -250px;
    margin-right: 100px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin-left: -250px;
    margin-right: 100px;
    text-align: center;
}

h3 {
    font-size: 40px;
    margin-right: 100px;
    margin-left: -40px;
}

button:active {
    background-color: red;
}

#aston:active,
#cobra:active,
#thousand:active,
#skyline:active,
#liter:active,
#submit:active {
    background-color: green;
}

/* h4 {
    text-align: center;
    font-size: x-large;
} */

#start {
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline;
    padding: 15px;
}

#submit {
    margin-top: 30px;
    margin-left: 255px;
}

input {
    padding: 10px;
    margin-left: 210px;
    overflow-wrap: break-word;
}


#initials {
    margin-left: 0px;
}

/* #leaderpage,
#questionone,
#questiontwo,
#questionthree,
#questionfour,
#questionfive {
    display: none;
} */