#timer {
    position: absolute;
    top: 0;
    right: 20px;
}

body {
    background-color: burlywood;
    /* background-image: url("https://images.unsplash.com/photo-1544636331-e26879cd4d9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80");
    background-size: cover; */
}

button {
    background-color: blue;
    color: white;
    font-size: medium;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: list-item;
    margin-left: -40px;
    margin-bottom: 5px;
}

p {
    font-size: 25px;
    margin-left: 80px;
    margin-right: 100px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 400px;
}

#go {
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline;
    padding: 15px;
}

input {
    padding: 10px;
    margin-left: 210px;
    overflow-wrap: break-word;
}