#timer {
    position: absolute;
    top: 0;
    right: 20px;
}

body {
    background-color: burlywood;
    /* background-image: url("https://images.unsplash.com/photo-1544636331-e26879cd4d9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80");
    background-size: cover; */
}

button {
    background-color: blue;
    color: white;
    font-size: medium;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: list-item;
}

p {
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 380px;
    margin-left: 15%;
    margin-right: 15%;
}

#go {
    top: 50%;
    margin-left: 35%;
    padding: 15px;
    width: 30%;
}

#submit {
    top: 50%;
    left: 45%;
    padding: 15px;
    display: inline-block;
    align-self: auto;
}

input {
    padding: 10px;
    text-size-adjust: 50%;
    font-size: 15pt;
    width: 20%;
    margin-left: 37%;
}

#A,
#B,
#C,
#D {
    margin-left: 28%;
    margin-bottom: 5px;
    width: 40%;
}